<p class="fields">
  <%# <%= f.label :description, "Choice" %1> %> 
  <%= fc.text_area :description, cols: 60, rows:2 %>
  <%= fc.hidden_field :_destroy %>
  <%= link_to_remove_fields "Remove", fc %>
</p>
